{%extends "layout.html"%}
{%block content%}	
	
	<h1>Welcome</h1>
	
	<br>
	
	<div>
		Python site under construction, stay tuned. Or rather, come back next week and see if anything has changed!
	</div>	
	
	<br>
	
	<h3>Programming Experience:</h3>
	
	<div>
		<ul>
			
			<li>Python- for personal development building scripts and text based games (2017-current)</li>
			<li>Dynamo- in Revit Structure (2018)</li>
			<li>C#- building games in Unity, databases, programs in Revit Structure (2011-2016)</li>
			<li>SQL- along side C# (2015)</li>
		</ul>
	</div>
	
	<br>
	
	<div>
		<ul>
		
			<li>VBA in Excel -built order input, inventory tracker, and customer database for Window manufacturing plant. (2011-2016)</li>
			<li>Macros and lisp in AutoCad -to improve personal work flow at Structural Engineering Firm while drafting. (2006-2011)</li>
		</ul>
	</div>
	
	<br>
	
	<div>
		<ul>
			<li>HTML -for personal development (2013)</li>
			<li>CSS -for personal development (2013)</li>
			<li>C++ -class in high school 1 year (1998?)</li>
		</ul>
	</div>
	
	<br>
	
	<div>
		Wait, how old am I? Nevermind, best not to think about it. <a href="{{ url_for('register') }}">Register</a> to see more...
	</div>
	
	
{%endblock content%}